<template>
  <div class="h-100">
    <pie-chart v-if="glamSurvey" :data="elegibleData" />
  </div>
</template>

<script>
import PieChart from "./PieChart.vue";
import _countBy from "lodash/countBy";

export default {
  components: {
    PieChart,
  },
  props: {
    glamSurvey: Array,
  },
  data() {
    return {
      data: null,
    };
  },
  mounted() {},
  computed: {
    elegibleData: function () {
      let openAccessScopeCount = _countBy(this.glamSurvey, (glam) => {
        return glam.openAccessScope.toLowerCase()
      });
      let pieChartData = [];
      for (const scopeType in openAccessScopeCount) {
        pieChartData.push({
          name: scopeType,
          value: openAccessScopeCount[scopeType],
        });
      }
      return pieChartData;
    },
  },
};
</script>

<style >
</style>
