<template>
  <header class="w-100 h4 overflow-y-hidden">
    <div class="fs w-100 w-20-ns">
      <div class="bg-glam-yellow-light">
        <div class="mw4 center pv4">
          <a href="https://openglam.org" target="_blank">
            <img class="" src="/openglam-logo.svg" alt="OpenGLAM logo" />
          </a>
          <p class="pv2 tc">
            <ul class="list pa0">
              <li v-for="locale in availableLocales"
                  :key="locale.code">
                <nuxt-link :to="switchLocalePath(locale.code)"
                          class="link underline-hover dim glam-grey" >
                  {{ locale.name }}
                </nuxt-link>
              </li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="fs w-100 w-80-ns">
      <div class="">
        <img id="header-img" src="/header.jpg" alt="header image" />
      </div>
    </div>
  </header>
</template>

<script>
export default {
  computed: {
    availableLocales() {
      return this.$i18n.locales.filter((i) => i.code !== this.$i18n.locale);
    },
  },
}
</script>

<style scoped>
</style>
