<template>
  <div class="">
    <vl-map
      :default-interactions="{ onFocusOnly: true }"
      class="h-100"
      tabindex="5"
      ref="mapEl"
    >
      <vl-view
        :zoom="zoom"
        :center="center"
        :rotation.sync="rotation"
      ></vl-view>

      <!-- the osm tiles layer -->
      <!-- <vl-layer-tile id="osm">
        <vl-source-osm></vl-source-osm>
      </vl-layer-tile> -->

      <vl-layer-vector>
        <vl-source-vector url="/countries.geojson"> </vl-source-vector>
      </vl-layer-vector>

      <!-- the vector layer -->
      <vl-layer-vector>
        <vl-source-vector
          :features.sync="glamsGeojson.features"
        ></vl-source-vector>
        <vl-style-box>
          <vl-style-circle :radius="1.5">
            <vl-style-fill color="rgb(255, 239, 235)"></vl-style-fill>
            <vl-style-stroke color="rgb(204, 58, 0)"></vl-style-stroke>
          </vl-style-circle>
        </vl-style-box>
      </vl-layer-vector>

      <!-- overlay layer -->
      <!-- <vl-overlay id="overlay" :position="[0, 0]">
        <template slot-scope="scope">
          <div class="overlay-content">
            Hello world!<br />
            Position: {{ scope.position }}
          </div>
        </template>
      </vl-overlay> -->
    </vl-map>
  </div>
</template>

<script>
import parse from "wellknown";

export default {
  props: {
    glams: { type: Array, required: true },
    dataProjection: { type: String, required: false, default: "EPSG:4326" },
    zoom: { type: Number, required: false, default: 2 },
    center: {
      type: Array,
      required: false,
      default() {
        return [40.2, 24.6];
      },
    },
    rotation: { type: Number, required: false, default: Math.PI * 2 },
  },
  data() {
    return {
      glamsGeojson: {
        type: "FeatureCollection",
        features: [],
      },
    };
  },
  mounted() {
    this.glams.forEach((glam) => {
      this.glamsGeojson.features.push({
        type: "Feature",
        geometry: parse(glam.coordinates),
        properties: {
          uri: glam.item.value,
          name: glam.item.label,
        },
      });
    });
  },
  methods: {},
};
</script>

<style >
#overlay {
  color: red;
}
</style>
