<template>
  <div class="h-100">
    <svg
      v-if="tree"
      :width="width"
      :height="height"
      :viewBox="`0 0 ${width} ${height}`"
    >
      <g
        class="continent"
        v-for="(continent, index) in tree.children"
        :key="`continent-${continent.id}`"
        :fill="color(index)"
      >
        <g v-for="country in continent.children" :key="`country-${country.id}`">
          <rect
            :height="country.y1 - country.y0"
            :width="country.x1 - country.x0"
            :x="country.x0"
            :y="country.y0"
          >
            <title>{{ country.data[0]}}</title>
          </rect>
          <text
            class="country-label"
            :x="country.x0 + 0.2 * remSize"
            :y="country.y0 + 0.6 * remSize"
          >
            {{ country.data[0] }}
          </text>
        </g>
      </g>
    </svg>
  </div>
</template>

<script>
import {
  group,
  hierarchy,
  treemap,
  scaleOrdinal,
  schemeAccent,
  treemapBinary,
} from "d3";

export default {
  props: {
    glams: Array,
    glamSurvey: Array,
    width: { type: Number, required: false, default: 600 },
    height: { type: Number, required: false, default: 600 },
  },
  data() {
    return {
      tree: null,
      remSize: null,
    };
  },
  mounted() {
    let grouped = group(
      this.glamSurvey,
      (d) => (d.continent ? d.continent : null),
      (d) => (d.country ? d.country : null)
    );
    let hierachy = hierarchy(grouped).sum((node) => {
      return node.children ? node.children.length : 1;
    });
    let tm = treemap()
      .tile(treemapBinary)
      .size([this.height, this.width])
      .round(true)
      .padding(1.2);
    this.tree = tm(hierachy);
    this.color = scaleOrdinal(schemeAccent);
    this.remSize = parseFloat(
      getComputedStyle(document.documentElement).fontSize
    );
  },
  methods: {},
};
</script>

<style >
.country-label {
  fill: black;
  font-size: 0.5rem;
}
</style>
