<template>
  <div class="h-100">
    <vl-map
      :default-interactions="{ onFocusOnly: true }"
      class="h-100"
      tabindex="7"
    >
      <vl-view
        :zoom.sync="zoom"
        :center.sync="center"
        :rotation.sync="rotation"
      ></vl-view>

      <!-- the vector layer -->
      <vl-layer-vector>
        <vl-source-vector :features.sync="countries"></vl-source-vector>

        <!-- <vl-source-vector url="/countries.geojson"></vl-source-vector> -->
        <!-- url="/countries.geojson" -->

        <!-- <vl-source-vector
          :features.sync="countries"
        ></vl-source-vector> -->
          <!-- url="/countries.geojson"  -->

        <vl-style-func
          :factory="stylePolygons"
          :key="`style-type-${Date.now()}`"
        />
      </vl-layer-vector>
    </vl-map>
    <!-- <pre>{{ stylePolygons() }}</pre> -->
  </div>
</template>

<script>
import _groupBy from "lodash/groupBy";
import _map from "lodash/map";
// import Style from "ol/style/Style";
// import Stroke from "ol/style/Style";
// import Fill from "ol/style/Style";
import { Fill, Stroke, Style } from "ol/style";

export default {
  props: ["glams"],
  data() {
    return {
      zoom: 2,
      center: [0, 0],
      rotation: Math.PI * 2,
      countries: [],
      glamsByCountry: null,
    };
  },
  async fetch() {
    this.countries = await this.$axios.get("/countries.geojson")
      .then((res) => {
        return res.data.features;
      })
  },
  mounted: function () {
    // setup glams by country
    this.glamsByCountry = _groupBy(this.glams, (glam) => {
      return glam.iso;
    });

    // add glam count per country to the polygons
    this.countries = _map(this.countries, function (country)  {
      let glam = this.glams.find((glam) => {country.id === glam.iso})
      if (glam) {
        country.properties.population = glam.population
        country.properties.glamCount = this.glamsByCountry[country.id].length
      }
      console.log(country)
      return country
    });
  },
  methods: {
    stylePolygons: function () {
      let glamsByCountry = _groupBy(this.glams, (glam) => {
        return glam.iso;
      });
      let glamsByCountryCount = _map(glamsByCountry, function (value, key) {
        let country = {};
        country[key] = value.length;
        return country;
      });
      // return glamsByCountryCount;
      return (feature) => {
        return [
          // polygon
          new Style({
            stroke: new Stroke({
              color: "#ff00c3",
              width: 1,
            }),
            fill: new Fill({
              color: "#ff00c3",
            }),
          }),
        ];
      };
    },
  },
};
</script>

<style >
</style>
