<template>
  <div class="h-100">
    <svg
      v-if="data"
      :height="height"
      :width="width"
      :viewBox="`-${width / 2} -${height / 2} ${width} ${height}`" 
    >
      <g>
        <path
          v-for="arc in arcs"
          :key="arc.slice.index"
          :fill="color(arc.slice.index)"
          :d="arc.shape"
        >
          <title>{{ arc.slice.data.name }}</title>
        </path>
      </g>
      <g>
        <text
          v-for="arc in arcs"
          :key="arc.slice.index"
          :transform="`translate(${arc.centroid})`"
          x="-2em"
        >
          <tspan class="b">({{ arc.slice.data.value}})</tspan>
          <tspan y="-1.3em" x="-2em">{{ arc.slice.data.name }}</tspan>
        </text>
      </g>
    </svg>
  </div>
</template>

<script>
import { pie, arc, scaleOrdinal, schemeAccent } from "d3";

export default {
  props: {
    data: { type: Array, required: true, default: [] },
    width: { type: Number, required: false, default: 400 },
    height: { type: Number, required: false, default: 400 },
  },
  data() {
    return {
      pie: null,
      remSize: null,
      color: null,
      arcs: null,
    };
  },
  mounted() {
    this.pie = pie().value((d) => d.value)(this.data);
    this.color = scaleOrdinal(schemeAccent);

    // setup the pie function
    let pieArc = arc()
      .innerRadius(this.width / 4)
      .outerRadius((this.width / 2)*0.95);

    // use the pie function to build stuff
    this.arcs = this.pie.map((slice) => {
      return {
        shape: pieArc(slice),
        centroid: pieArc.centroid(slice),
        slice: slice,
      };
    });
  },
  methods: {},
};
</script>

<style >
</style>
