$glam-grey: rgb(53, 53, 53);

$glam-yellow: rgb(189, 120, 0);
$glam-red: rgb(204, 58, 0);
$glam-green: rgb(13, 125, 114); 

$glam-yellow-light: rgb(255, 242, 223);
$glam-red-light: rgb(255, 239, 235);
$glam-green-light: rgb(230, 244, 241); 

.bg-glam-yellow-light {
  background-color: $glam-yellow-light;
}

.bg-glam-red-light {
  background-color: $glam-red-light;
}

.bg-glam-green-light {
  background-color: $glam-green-light;
}

.bg-glam-red {
  background-color: $glam-red;
}

.bg-white-o-50 {
  background-color: rgba(255, 255, 255, 0.5);
}

.glam-yellow {
  color: $glam-yellow;
}

.glam-red {
  color: $glam-red;
}

.glam-green {
  color: $glam-green;
}

.glam-grey {
  color: $glam-grey;
}

/* float start */
.fs {
  float: inline-start;
}

.p-start-0 {
  padding-block-start: 0;
}

.p-end-1 {
  padding-inline-end: 1rem;
}

.inset {
  inset-inline: -2rem;
}

.inset-reverse {
  inset-inline: 2rem;
}

.fit-cover {
  object-fit: cover;
}

.sticky {
  position: sticky;
}

.columns-2 {
  columns: 2;
}

.flex-shrink-1 {
  flex-shrink: 1;
}


.mh-50 {
  max-height: 50vh;
}
