<template>
  <div class="cf">
    <GlamHeader />
    <div>
      <Nuxt />
    </div>
    <GlamFooter />
  </div>
</template>

<script>
import GlamHeader from "../components/GlamHeader.vue";
import GlamFooter from "../components/GlamFooter.vue";

export default {
  components: { GlamHeader, GlamFooter },
  head() {
    return this.$nuxtI18nHead();
  },
};
</script>
<style lang="scss">
html {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: $glam-grey;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

#header-img {
  width: 100%;
}
</style>
