<template>
  <div>
    <h1 class="tc">{{ $t("title") }}</h1>

    <!-- header --> 
    <div class="w-100 vh-50 fs">
      <div class="fs w-100 w-25-ns bg-near-white h-100">
        <span>image from the archive 1</span>
      </div>
      <div id="intro" class="fs w-100 w-50-ns pa3">
        <nuxt-content :document="intro" />
      </div>
      <div class="fs w-100 w-25-ns bg-near-white h-100">
        <span>image from the archive 2</span>
      </div>
    </div>

    <!-- GLAM map -->
    <div slot="graphic" class=" w-100 fs vh-75">
      <h1>glam map</h1>
      <!-- <GlamMap /> -->
    </div>

    <!-- <client-only> -->
      <!-- <Scrollama 
        @step-enter="stepEnterHandler"
        @step-exit="stepEnterHandler"
      > -->


    <!-- general insights -->

        <div class="step1 vh-75" data-step="a">..
          // classes like .step1 are helpful to adjust the style and dimensions of a step.
        </div> 

        <div class="step2 vh-75" data-step="b">.
           // data-* attributes are helpful to store instructions to be used in handlers..
        </div>

        <div class="step3 vh-75" data-step="c">
          .asdflja aòsldjf  // data-* attributes are helpful to store instructions to be used in handlers..
        </div>
      <!-- </Scrollama> -->
    <!-- </client-only> -->
        <Scrollama
      :offset="0.6"
      @step-enter="stepEnterHandler"
      @step-exit="stepExitHandler"
    >
      <div
        v-for="step in steps"
        :key="step.id"
        :data-step-id="step.id"
        class="leclass my-64 h-48 border border-black flex justify-center items-center"
      >
        Step {{ step.id }}
      </div>
    </Scrollama>
  </div>
</template>

<script>
import "intersection-observer"
import Scrollama from "vue-scrollama"

export default {
  data () {
    return {
      steps: [{ id: 'A' }, { id: 'B' }, { id: 'C' }, { id: 'D' }],
      activeStepId: null
    }
  },
  components: {
    Scrollama
  },
  async asyncData({ app, $content }) {
    const locale = app.i18n.locale
    const intro = await $content(`intro-${locale}`).fetch()

    return {
      intro,
    }
  },
  mounted() {
    this.$nextTick(function () {
      
    })
  },
  methods: {
    stepEnterHandler ({element, index, direction}) {
      // handle the step-event as required here
      console.log(element, index, direction)
    }
  },
}
</script>

<style>
#intro {
  column-count: 2;
  column-gap: 1rem;
}
</style>
